body {
background: #ddd;
}
text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  pointer-events: none;
}

/* Party colors from charts https://de.wikipedia.org/wiki/Bundestagswahl */
.union, .cdu, .csu {
  fill: #000;
}

.spd {
  fill: #f00;
}

.fdp {
  fill: #ff0;
}

.linke {
  fill: #a0a;
}

.grüne {
  fill: #008b00;
}

.piraten {
  fill: #ff820a;
}

.npd, .rep {
  fill: #8b4726;
}

.sonstige {
  fill: #aaa;
}

/* map */
.subunit {
cursor:pointer;
}
.subunit-boundary {
  fill: none;
  stroke-width:.9px;
  stroke: #777;
  stroke-linejoin: round;
}

.subunit-label {
  fill: #aaa;
  fill-opacity: .5;
  font-size: 1em;
  text-anchor: middle;
}

.no-background {
  fill: transparent;
}

.bar-x-label {
font-size: 11px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 330px;
  height: 260px;
  padding: 5px;
  font-size: 10px;
  background: #fff;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  opacity:0;
  z-index:2000;
}

.tooltip h4 {
margin: 5px 0 0;
}

.tooltip .bar-x-label {
  font-size: 8.5px;
}

.tooltip p {
margin-top:-12px;
}