body {
background: #ddd;
}

/* Party colors from charts https://de.wikipedia.org/wiki/Bundestagswahl */
.union, .cdu, .csu {
  fill: #000;
}

.spd {
  fill: #f00;
}

.fdp {
  fill: #ff0;
}

.linke {
  fill: #a0a;
}

.grüne {
  fill: #008b00;
}

.piraten {
  fill: #ff820a;
}

.npd, .rep {
  fill: #8b4726;
}

.subunit-boundary {
  fill: none;
  stroke-width:.7px;
  stroke: #777;
  stroke-linejoin: round;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  pointer-events: none;
}
.subunit-label {
  fill: #fff;
  fill-opacity: .5;
  font-size: 1em;
  text-anchor: middle;
}

.no-background {
  fill: transparent;
}

.box{

}

div.bar {
display: inline-block;
width: 20px;
height: 75px;
margin-right: 2px;
background-color: teal;
}