body {
    position: relative;
    padding-top: 50px;
}

cite {
    font-style:italic;
}

.voffset {margin:.5em 0;}
.centered {text-align:center;}
.clearfix {clear:both;}

.caret {
    opacity:.8;
}
.small {
    font-size:.8em;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity:0;
}