{% extends 'map.html' %}

{% block tooltip %}
<div class="tooltip" id="tooltip">
    <h3 id="tooltip-title"></h3>
    <div id="country-votes"></div>
    <p>Per Mausklick das Bundesland ein- oder ausblenden.</p>
</div>
{% endblock %}

{% block sidebar %}
<div class="row">
  <div class"col-md-12">
    <h3>Verteilung Zweitstimmen Gesamt</h3>
    <div id="vote-dist-total"></div>
  </div>

  <div class"col-md-12">
      <h3>Benutzung</h3>
      <p>Wie fiele die Bundestagswahl ohne ein bestimmtes Bundesland aus? Jedes Bundesland lässt sich durch Klicken an- oder abwählen. Wenn Sie die Maus über ein Bundesland bewegen, wird dessen Wahlergebnis eingeblendet.</p>
  </div>

</div>
{% endblock %}