{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-7" id="main">{% block main %}{% endblock %}</div>
<div class="col-md-5" id="sidebar">{% block sidebar %}{% endblock %}</div>
</div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="/vendor/d3/d3.v3.min.js"></script>
<script src="/vendor/d3/topojson.v1.min.js"></script>
<script src="/vendor/d3/queue.v1.min.js"></script>

<!--
<script src="/vendor/underscore/underscore-min.js"></script>
<script src="/vendor/btw/btw13.js"></script>
-->
{{ super() }}
{% endblock %}